.hours {
     display: grid;
     justify-content: center;
     align-items: end;
     grid-template-columns: repeat(2, 1fr);
}

.hours-day p, .hours-time p {
     margin: 6px;
}
.hours > * {
    border-bottom: 1px solid var(--red);
}
.hours > *nth-last-child(1) {
     border-bottom: none;
}

@media only screen and (max-width: 800px) {
     .hours > * {
         border-bottom: none;
     }
     .hours-time {
          border-bottom: 1px solid var(--red);
     }
     .hours-time > *:last-of-type {
          border-bottom: none;    
     }
     .hours {
          grid-template-columns: 1fr;
          grid-template-areas: 'hours-day' 'hours-time';
     }
     .hours-day { padding-top: 12px; }
     .hours-time { padding-bottom: 12px; }
}
